body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2946px;
  height:2625px;
}
#u62 {
  position:absolute;
  left:27px;
  top:733px;
  width:2946px;
  height:2625px;
}
#u63 {
  position:absolute;
  left:2px;
  top:1304px;
  width:2942px;
  visibility:hidden;
  word-wrap:break-word;
}
