body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:635px;
}
#u601 {
  position:absolute;
  left:9px;
  top:9px;
  width:981px;
  height:635px;
}
#u602 {
  position:absolute;
  left:2px;
  top:310px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:116px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  position:absolute;
  left:1028px;
  top:436px;
  width:158px;
  height:116px;
}
#u604 {
  position:absolute;
  left:2px;
  top:26px;
  width:154px;
  word-wrap:break-word;
}
