body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2562px;
  height:2340px;
}
#u123 {
  position:absolute;
  left:43px;
  top:65px;
  width:2562px;
  height:2340px;
}
#u124 {
  position:absolute;
  left:2px;
  top:1162px;
  width:2558px;
  visibility:hidden;
  word-wrap:break-word;
}
