body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2587px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2562px;
  height:2195px;
}
#u147 {
  position:absolute;
  left:25px;
  top:48px;
  width:2562px;
  height:2195px;
}
#u148 {
  position:absolute;
  left:2px;
  top:1090px;
  width:2558px;
  visibility:hidden;
  word-wrap:break-word;
}
