body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2706px;
  height:3120px;
}
#u60 {
  position:absolute;
  left:69px;
  top:42px;
  width:2706px;
  height:3120px;
}
#u61 {
  position:absolute;
  left:2px;
  top:1552px;
  width:2702px;
  visibility:hidden;
  word-wrap:break-word;
}
