body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:991px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:591px;
}
#u961 {
  position:absolute;
  left:15px;
  top:13px;
  width:976px;
  height:591px;
}
#u962 {
  position:absolute;
  left:2px;
  top:288px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:310px;
}
#u963 {
  position:absolute;
  left:261px;
  top:625px;
  width:167px;
  height:310px;
}
#u964 {
  position:absolute;
  left:2px;
  top:147px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  position:absolute;
  left:674px;
  top:625px;
  width:300px;
  height:112px;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:115px;
}
#u967 {
  position:absolute;
  left:648px;
  top:781px;
  width:230px;
  height:115px;
}
#u968 {
  position:absolute;
  left:2px;
  top:50px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:310px;
}
#u969 {
  position:absolute;
  left:461px;
  top:625px;
  width:168px;
  height:310px;
}
#u970 {
  position:absolute;
  left:2px;
  top:147px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:97px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u971 {
  position:absolute;
  left:671px;
  top:987px;
  width:185px;
  height:97px;
}
#u972 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
