body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:991px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:591px;
}
#u894 {
  position:absolute;
  left:15px;
  top:13px;
  width:976px;
  height:591px;
}
#u895 {
  position:absolute;
  left:2px;
  top:288px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:310px;
}
#u896 {
  position:absolute;
  left:261px;
  top:625px;
  width:167px;
  height:310px;
}
#u897 {
  position:absolute;
  left:2px;
  top:147px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:674px;
  top:625px;
  width:300px;
  height:112px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:115px;
}
#u900 {
  position:absolute;
  left:648px;
  top:781px;
  width:230px;
  height:115px;
}
#u901 {
  position:absolute;
  left:2px;
  top:50px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:310px;
}
#u902 {
  position:absolute;
  left:461px;
  top:625px;
  width:168px;
  height:310px;
}
#u903 {
  position:absolute;
  left:2px;
  top:147px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:97px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:671px;
  top:987px;
  width:185px;
  height:97px;
}
#u905 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
