body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:796px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:593px;
}
#u696 {
  position:absolute;
  left:18px;
  top:14px;
  width:778px;
  height:593px;
}
#u697 {
  position:absolute;
  left:2px;
  top:288px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u698 {
  position:absolute;
  left:204px;
  top:617px;
  width:563px;
  height:278px;
  text-align:left;
}
#u699 {
  position:absolute;
  left:2px;
  top:2px;
  width:559px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:66px;
}
#u700 {
  position:absolute;
  left:319px;
  top:803px;
  width:344px;
  height:66px;
}
#u701 {
  position:absolute;
  left:2px;
  top:25px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
  background:inherit;
  background-color:rgba(124, 124, 124, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u702 {
  position:absolute;
  left:367px;
  top:846px;
  width:41px;
  height:17px;
  color:#FFFFFF;
}
#u703 {
  position:absolute;
  left:2px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
