body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:779px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:640px;
}
#u753 {
  position:absolute;
  left:11px;
  top:17px;
  width:768px;
  height:640px;
}
#u754 {
  position:absolute;
  left:2px;
  top:312px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u755 {
  position:absolute;
  left:219px;
  top:685px;
  width:99px;
  height:16px;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
}
#u757 {
  position:absolute;
  left:326px;
  top:677px;
  width:179px;
  height:42px;
}
#u758 {
  position:absolute;
  left:2px;
  top:13px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u759 {
  position:absolute;
  left:345px;
  top:729px;
  width:377px;
  height:34px;
}
#u760 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  position:absolute;
  left:266px;
  top:810px;
  width:300px;
  height:44px;
}
#u762 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
