body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:607px;
}
#u413 {
  position:absolute;
  left:11px;
  top:15px;
  width:977px;
  height:607px;
}
#u414 {
  position:absolute;
  left:2px;
  top:296px;
  width:973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:46px;
}
#u415 {
  position:absolute;
  left:256px;
  top:388px;
  width:513px;
  height:46px;
}
#u416 {
  position:absolute;
  left:2px;
  top:15px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  position:absolute;
  left:257px;
  top:218px;
  width:512px;
  height:170px;
}
#u418 {
  position:absolute;
  left:2px;
  top:77px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u419 {
  position:absolute;
  left:413px;
  top:247px;
  width:44px;
  height:23px;
}
#u420 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u421 {
  position:absolute;
  left:288px;
  top:251px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u423 {
  position:absolute;
  left:288px;
  top:285px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#067EC6;
}
#u425 {
  position:absolute;
  left:281px;
  top:211px;
  width:71px;
  height:16px;
  color:#067EC6;
}
#u426 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  position:absolute;
  left:413px;
  top:284px;
  width:85px;
  height:16px;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:126px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429 {
  position:absolute;
  left:1016px;
  top:218px;
  width:178px;
  height:126px;
}
#u430 {
  position:absolute;
  left:2px;
  top:47px;
  width:174px;
  word-wrap:break-word;
}
#u431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u431 {
  position:absolute;
  left:545px;
  top:280px;
  width:57px;
  height:23px;
  font-size:12px;
}
#u432 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u433 {
  position:absolute;
  left:413px;
  top:310px;
  width:57px;
  height:16px;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
