body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:522px;
}
#u28 {
  position:absolute;
  left:797px;
  top:101px;
  width:408px;
  height:522px;
}
#u29 {
  position:absolute;
  left:2px;
  top:253px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:475px;
}
#u30 {
  position:absolute;
  left:798px;
  top:1087px;
  width:408px;
  height:475px;
}
#u31 {
  position:absolute;
  left:2px;
  top:230px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:447px;
}
#u32 {
  position:absolute;
  left:794px;
  top:1498px;
  width:414px;
  height:447px;
}
#u33 {
  position:absolute;
  left:2px;
  top:216px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:109px;
}
#u34 {
  position:absolute;
  left:795px;
  top:1940px;
  width:425px;
  height:109px;
}
#u35 {
  position:absolute;
  left:2px;
  top:46px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:504px;
}
#u36 {
  position:absolute;
  left:1789px;
  top:755px;
  width:410px;
  height:504px;
}
#u37 {
  position:absolute;
  left:2px;
  top:244px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:524px;
}
#u38 {
  position:absolute;
  left:1788px;
  top:1221px;
  width:411px;
  height:524px;
}
#u39 {
  position:absolute;
  left:2px;
  top:254px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:169px;
}
#u40 {
  position:absolute;
  left:1789px;
  top:1709px;
  width:414px;
  height:169px;
}
#u41 {
  position:absolute;
  left:2px;
  top:76px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:499px;
}
#u42 {
  position:absolute;
  left:1297px;
  top:1544px;
  width:409px;
  height:499px;
}
#u43 {
  position:absolute;
  left:2px;
  top:242px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:340px;
}
#u44 {
  position:absolute;
  left:1297px;
  top:1869px;
  width:413px;
  height:340px;
}
#u45 {
  position:absolute;
  left:2px;
  top:162px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:770px;
}
#u47 {
  position:absolute;
  left:2382px;
  top:101px;
  width:402px;
  height:770px;
}
#u48 {
  position:absolute;
  left:2px;
  top:377px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:2396px;
  top:821px;
  width:388px;
  height:42px;
}
#u50 {
  position:absolute;
  left:2px;
  top:13px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:52px;
}
#u51 {
  position:absolute;
  left:2381px;
  top:120px;
  width:405px;
  height:52px;
}
#u52 {
  position:absolute;
  left:2px;
  top:18px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:2543px;
  top:127px;
  width:82px;
  height:38px;
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:1794px;
  top:1221px;
  width:403px;
  height:74px;
}
#u56 {
  position:absolute;
  left:2px;
  top:29px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:1807px;
  top:1226px;
  width:81px;
  height:59px;
}
#u58 {
  position:absolute;
  left:2px;
  top:22px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u59 {
  position:absolute;
  left:1943px;
  top:1239px;
  width:176px;
  height:38px;
  font-size:28px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:87px;
}
#u61 {
  position:absolute;
  left:1790px;
  top:1394px;
  width:205px;
  height:87px;
}
#u62 {
  position:absolute;
  left:2px;
  top:36px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:87px;
}
#u63 {
  position:absolute;
  left:1995px;
  top:1394px;
  width:206px;
  height:87px;
}
#u64 {
  position:absolute;
  left:2px;
  top:36px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:1996px;
  top:1295px;
  width:202px;
  height:99px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:100px;
}
#u67 {
  position:absolute;
  left:1794px;
  top:1295px;
  width:201px;
  height:100px;
}
#u68 {
  position:absolute;
  left:2px;
  top:42px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2101px;
  top:1255px;
  width:76px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:1902px;
  top:1442px;
  width:83px;
  height:32px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:2108px;
  top:1442px;
  width:83px;
  height:32px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:87px;
}
#u75 {
  position:absolute;
  left:796px;
  top:584px;
  width:410px;
  height:87px;
}
#u76 {
  position:absolute;
  left:2px;
  top:36px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:315px;
}
#u77 {
  position:absolute;
  left:800px;
  top:1016px;
  width:406px;
  height:315px;
}
#u78 {
  position:absolute;
  left:2px;
  top:150px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:256px;
}
#u79 {
  position:absolute;
  left:800px;
  top:1372px;
  width:406px;
  height:256px;
}
#u80 {
  position:absolute;
  left:2px;
  top:120px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:395px;
}
#u81 {
  position:absolute;
  left:226px;
  top:104px;
  width:433px;
  height:395px;
}
#u82 {
  position:absolute;
  left:2px;
  top:190px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:517px;
}
#u83 {
  position:absolute;
  left:226px;
  top:651px;
  width:433px;
  height:517px;
}
#u84 {
  position:absolute;
  left:2px;
  top:250px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:152px;
}
#u85 {
  position:absolute;
  left:226px;
  top:499px;
  width:433px;
  height:152px;
}
#u86 {
  position:absolute;
  left:2px;
  top:68px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:349px;
}
#u87 {
  position:absolute;
  left:800px;
  top:668px;
  width:406px;
  height:349px;
}
#u88 {
  position:absolute;
  left:2px;
  top:166px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:806px;
}
#u89 {
  position:absolute;
  left:2381px;
  top:938px;
  width:407px;
  height:806px;
}
#u90 {
  position:absolute;
  left:2px;
  top:395px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:202px;
}
#u91 {
  position:absolute;
  left:2383px;
  top:1543px;
  width:405px;
  height:202px;
}
#u92 {
  position:absolute;
  left:2px;
  top:93px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u93 {
  position:absolute;
  left:2730px;
  top:1050px;
  width:50px;
  height:39px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:1319px;
  top:797px;
  width:81px;
  height:59px;
}
#u96 {
  position:absolute;
  left:2px;
  top:22px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u97 {
  position:absolute;
  left:1455px;
  top:810px;
  width:176px;
  height:38px;
  font-size:28px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  position:absolute;
  left:1444px;
  top:247px;
  width:127px;
  height:43px;
}
#u100 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:95px;
}
#u101 {
  position:absolute;
  left:1305px;
  top:105px;
  width:398px;
  height:95px;
}
#u102 {
  position:absolute;
  left:2px;
  top:40px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u103 {
  position:absolute;
  left:1613px;
  top:826px;
  width:76px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  position:absolute;
  left:1414px;
  top:1013px;
  width:83px;
  height:32px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  position:absolute;
  left:1620px;
  top:1013px;
  width:83px;
  height:32px;
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:553px;
}
#u109 {
  position:absolute;
  left:1304px;
  top:200px;
  width:399px;
  height:553px;
}
#u110 {
  position:absolute;
  left:2px;
  top:268px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:50px;
}
#u111 {
  position:absolute;
  left:1304px;
  top:101px;
  width:399px;
  height:50px;
}
#u112 {
  position:absolute;
  left:2px;
  top:17px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:54px;
}
#u113 {
  position:absolute;
  left:1304px;
  top:146px;
  width:399px;
  height:54px;
}
#u114 {
  position:absolute;
  left:2px;
  top:19px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:1463px;
  top:108px;
  width:82px;
  height:38px;
}
#u116 {
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:304px;
}
#u117 {
  position:absolute;
  left:1304px;
  top:300px;
  width:399px;
  height:304px;
}
#u118 {
  position:absolute;
  left:2px;
  top:144px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:304px;
}
#u119 {
  position:absolute;
  left:1304px;
  top:598px;
  width:399px;
  height:304px;
}
#u120 {
  position:absolute;
  left:2px;
  top:144px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:304px;
}
#u121 {
  position:absolute;
  left:1304px;
  top:902px;
  width:399px;
  height:304px;
}
#u122 {
  position:absolute;
  left:2px;
  top:144px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:659px;
  top:575px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u123_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u123_seg1 {
  position:absolute;
  left:68px;
  top:-530px;
  width:8px;
  height:534px;
}
#u123_seg2 {
  position:absolute;
  left:68px;
  top:-530px;
  width:781px;
  height:8px;
}
#u123_seg3 {
  position:absolute;
  left:841px;
  top:-530px;
  width:8px;
  height:63px;
}
#u123_seg4 {
  position:absolute;
  left:835px;
  top:-480px;
  width:20px;
  height:20px;
}
#u124 {
  position:absolute;
  left:139px;
  top:-534px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1703px;
  top:409px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u125_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u125_seg1 {
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u126 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:57px;
}
#u127 {
  position:absolute;
  left:226px;
  top:1168px;
  width:433px;
  height:57px;
}
#u128 {
  position:absolute;
  left:2px;
  top:20px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:357px;
  top:1195px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u129_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:442px;
  height:8px;
}
#u129_seg1 {
  position:absolute;
  left:425px;
  top:-10px;
  width:20px;
  height:20px;
}
#u130 {
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1095px;
  top:495px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u131_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u131_seg1 {
  position:absolute;
  left:191px;
  top:-47px;
  width:8px;
  height:51px;
}
#u131_seg2 {
  position:absolute;
  left:191px;
  top:-47px;
  width:18px;
  height:8px;
}
#u131_seg3 {
  position:absolute;
  left:196px;
  top:-53px;
  width:20px;
  height:20px;
}
#u132 {
  position:absolute;
  left:76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:2583px;
  top:101px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u133_seg0 {
  position:absolute;
  left:-4px;
  top:-89px;
  width:8px;
  height:89px;
}
#u133_seg1 {
  position:absolute;
  left:-959px;
  top:-89px;
  width:963px;
  height:8px;
}
#u133_seg2 {
  position:absolute;
  left:-959px;
  top:-89px;
  width:8px;
  height:91px;
}
#u133_seg3 {
  position:absolute;
  left:-965px;
  top:-11px;
  width:20px;
  height:20px;
}
#u134 {
  position:absolute;
  left:-528px;
  top:-93px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:149px;
}
#u135 {
  position:absolute;
  left:1305px;
  top:151px;
  width:398px;
  height:149px;
}
#u136 {
  position:absolute;
  left:2px;
  top:66px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:652px;
}
#u137 {
  position:absolute;
  left:1794px;
  top:530px;
  width:404px;
  height:652px;
}
#u138 {
  position:absolute;
  left:2px;
  top:318px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:570px;
}
#u139 {
  position:absolute;
  left:1794px;
  top:101px;
  width:404px;
  height:570px;
}
#u140 {
  position:absolute;
  left:2px;
  top:277px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1191px;
  top:515px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u141_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u141_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:1176px;
  height:8px;
}
#u141_seg2 {
  position:absolute;
  left:1159px;
  top:-13px;
  width:20px;
  height:20px;
}
#u142 {
  position:absolute;
  left:534px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u143 {
  position:absolute;
  left:2107px;
  top:260px;
  width:70px;
  height:26px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u144 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:2177px;
  top:273px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u145_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u145_seg1 {
  position:absolute;
  left:95px;
  top:-4px;
  width:8px;
  height:1076px;
}
#u145_seg2 {
  position:absolute;
  left:95px;
  top:1064px;
  width:109px;
  height:8px;
}
#u145_seg3 {
  position:absolute;
  left:191px;
  top:1058px;
  width:20px;
  height:20px;
}
#u146 {
  position:absolute;
  left:49px;
  top:529px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
